/.idea
docs/User's_Manual.docx
docs/~$er's_Manual.docx
docs/Inference_engine_C_API.docx
docs/README.docx
/build
/dist
/examples/toy_car/esp32s3/build
/logs
/src/__pycache__
/src/tflite/__pycache__
/src/logs
/src/buffers.py
/src/buffers.c
/src/scales.py
/src/scales.c
/users_folder
/venv
build_exe.py
compile_pyd.py
Ingenuity.spec

